p{
    color: red;
    background-color: black;
}
h1{
    color: blue;
}
h2{
    color: darkblue;
    background-color: aquamarine;
}
.model{
    color: aqua;
    background-color: black;
}
.text-styling{
    color: aqua;
}